# Local environments and caches
venv/
watch_export_env/
__pycache__/
.pytest_cache/
*.md

movements/
visuals/
*.csv

catboost_info/
.git/
.vscode/
.env
*.pycd

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/export_model_to_watch