# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.env
catboost_info/*
catboost_info

# Models
src/movements/*
src/movements
!data/raw/.gitkeep
models/*.pkl
models/*.joblib
src/__pycache__
tests/__pycache__
src/__pycache__/*
tests/__pycache__/*

# OS files
.DS_Store
Thumbs.db

# Optuna
*.sqlite3
.ipnyb_checkpoints/
.ruff_cache/
.ruff_cache/*
